<h1>Gerencie seus times</h1>
<label>Atenção, os times inclusos agora, não faram parte de campeonatos pré existentes</label>
<div class="container">
  <form #teamForm="ngForm">
    <div class="form-group">
      <label for="name">Time:</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="team.name" #name="ngModel" #input_name required>
      <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
        <div [hidden]="!name.errors.required">
          Time e obrigatório.
        </div>
      </div>
    </div>

    <button id="add-team" name="add-team" class="btn btn-primary" (click)="add();" type="submit"
     [disabled]="!teamForm.form.valid">
      Adicionar</button>
  </form>

  <div class="teams_list">
    <p>Times ({{teams.length}} )</p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let teamItem of teams">{{teamItem.name}}</li>
    </ul>
  </div>
</div>
