<h1>Gerencie seu Campeonatos</h1>
<div class="container">
  <form #tournamentForm="ngForm">
    <div class="form-group">
      <label for="name">Nome do Campeonato:</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="tournament.name" #name="ngModel" #input_name required>
      <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
        <div [hidden]="!name.errors.required">
          Nome do Campeonato e obrigatório.
        </div>
      </div>
    </div>

    <div class="form-group">
        <label for="roundrobin">Ida e Volta:</label>
        <input type="checkbox" [checked]="isRoundrobin" (change)="isRoundrobin = !isRoundrobin" />
    </div>

    <button id="add-tournament" name="add-tournament" class="btn btn-primary" (click)="generate();" type="submit"
     [disabled]="!tournamentForm.form.valid">
      Adicionar</button>
  </form>
</div>
