<h1>Gerencie seu Campeonatos</h1>
<div class="container">
  <form #tournamentForm="ngForm">
    <div class="form-group">
      <label for="name">Nome do Campeonato:</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="tournament.name" #name="ngModel"
        #input_name required>
      <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
        <div [hidden]="!name.errors.required">
          Nome do Campeonato e obrigatório.
        </div>
      </div>
    </div>

    <div class="form-group" *ngIf="!isEditing">
      <label for="name">Tipo de Campeonato:</label>
      <select name="tournamentType" id="tournamentType"  class="form-control" [(ngModel)]="tournament.tournamentType">
        <option *ngFor="let type of tournamentTypes" value="{{type}}">{{type}}</option>
      </select>

    </div>


    <!-- IMG PICKER and/or url placement for Tournament-->

    <div class="form-group"  *ngIf="!isEditing">
      <mat-checkbox [checked]="isRoundRobin" name="isRoundRobin" [(ngModel)]="tournament.isRoundRobin">Ida e Volta</mat-checkbox>
    </div>

    <div class=" button_placeholder">
      <button id="add-tournament" name="add-tournament" class="btn btn-primary" (click)="createTournament();" type="submit"
        [disabled]="!tournamentForm.form.valid">
        {{buttonLabel}}
      </button>
      <br><br>
      <button *ngIf="isEditing"
      id="delete-tournament" name="delete-tournament" class="btn btn-danger" (click)="deleteTournament(tournament);" type="button">
      Apagar
    </button>
    </div>
  </form>

  <br>
  <div class="teams_list" *ngIf="tournaments?.length > 0">
    <p>Campeonatos ({{tournaments?.length}})</p>
    <div class="list-group">
      <a [routerLink]="['/tournaments',tournamentItem.id]" class="list-group-item list-group-item-action" [ngClass]="{active: tournament?.name == tournamentItem.name}"
        (click)="gotoSection();" routerLinkActive="router-link-active" *ngFor="let tournamentItem of tournaments">
        {{tournamentItem.name}}
      </a>
    </div>
  </div>
</div>
