/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/prebuilt-themes/purple-green.css'; */
@import '~material-bottom-nav';
@import '~pretty-checkbox/src/pretty-checkbox.scss';

$bottom-nav-action-horizontal-margin: 4px; // reduce the horizontal gutter between actions
$bottom-nav-icon-font-size: 20px; // increase the icon size

$font-size: 1.75rem!important;
$font-size-bottom-nav: 1.75rem!important;
$font-size-button: 2.5rem!important;

$font-size-small: 1rem!important;
$font-size-bottom-nav-small: 0.75rem!important;
$font-size-button-small:1.5rem!important;

$font-size-tablet: 1rem!important;
$font-size-bottom-nav-tablet: 0.75rem!important;
$font-size-button-tablet:1.5rem!important;

$default-max-width:430px;
$default-tablet-width:960px;

.bottom-nav__action--active .bottom-nav__label {
  font-size: $font-size-bottom-nav;
}

/*small screens Iphone SE and nexus 5*/
@media (max-width: $default-max-width) {
  .bottom-nav__action--active .bottom-nav__label {
    font-size:$font-size-bottom-nav-small
  }
  // .mat-tab-label{
  //   font-size:$font-size-small;
  // }

  // .mat-paginator, .mat-paginator-page-size .mat-select-trigger,
  // .mat-header-cell,
  // .mat-cell, .mat-footer-cell {
  //   font-size: $font-size-small;
  // }

  .button_placeholder button{
    font-size: $font-size-button-small;
    }

  body {
    font-size:$font-size-small;
  }
}

/*tablet or desktop*/
@media (max-width: $default-tablet-width) {
  .bottom-nav__action--active .bottom-nav__label {
    font-size:$font-size-bottom-nav-tablet
  }
  // .mat-tab-label{
  //   font-size:$font-size-tablet;
  // }

  // .mat-paginator, .mat-paginator-page-size .mat-select-trigger,
  // .mat-header-cell,
  // .mat-cell, .mat-footer-cell {
  //   font-size: $font-size-tablet;
  // }

  .button_placeholder button{
    font-size: $font-size-button-tablet;
    }

  body {
    font-size:$font-size-tablet;
  }
}

// @media (max-width: 623px) {
//   .list-group-item {
//     padding: 1.2rem 1.25rem!important;
//   }
// }

a:hover{
  color: gray;
}

.bottom-nav {
  @include bottom-nav($background-color: rgba(0,0,0,.87), $active-color: #FFFFFF, $inactive-color: #E0E0E0, $hide-inactive-labels: false);
}

body {
  padding-top: 5rem;
  // font-size: $font-size;
}

.container {
  padding-left: 2px!important;
  padding-right: 2px!important;
  padding-bottom: 50px;
}

.starter-template h1{
  text-align: center;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

table {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

td, th {
  width: auto;
  border: solid 1px rgba(0,0,0,.12);
  text-align: left;
}

td:nth-child(2),
th:nth-child(2) {
  width: 30%;
}

.add_score_list input {
  width: 50%;
  float: right;
}

// .list-group-item {
//   padding: 0.75rem 0.75rem!important;
// }

// .mat-tab-label{
//   font-size:$font-size;
// }

// .mat-paginator, .mat-paginator-page-size .mat-select-trigger,
// .mat-header-cell,
// .mat-cell, .mat-footer-cell {
//   font-size: $font-size;
// }

/*Menu */
#bottom_nav_menu{
  display:none;
}
.navbar-toggler{
  display: block;
}
@media only screen and (max-width:$default-tablet-width){
  #bottom_nav_menu{
    display:block;
  }
  .navbar-toggler{
    display: none;
  }
 }


/*Tables*/
tr.mat-header-row{
  height: 20px!important;
}
.mat-sort-header-button {
  margin-left: 5px!important;
}

.mat-sort-header-arrow{
  margin: 0px!important;
}

.mat-sort-header-container{
  width: 42px!important;
  /* height: 10px!important; */
}

tr.mat-footer-row, tr.mat-row{
  height: 10px!important;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 3px!important;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: 3px!important;
}

/* td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding-left: 5px!important;
  padding-right: 5px!important;
} */

th.mat-header-cell {
  font-weight: bold;
  background-color: lightgrey;
}
/*Tables*/

/*Headers*/
h1 { font-size: 1.5em; }
h2 { font-size: 1.17em; }
h3 { font-size: .83em; }
h5 { font-size: .75em; }
h6 { font-size: .65em; }


/*lists*/
// .list-group-item {
//   padding: .75rem 1.25rem;
// }

#tournament_details_teams .list-group-item {
  padding: .25rem .25rem!important;
}

.mat-tab-label{
  height: 25px!important;
}
.mat-tab-label, .mat-tab-link {
  font-weight: bold;
  background-color: lightgrey;
  border-radius: 20px 20px 0px 0px;
}
.mat-tab-link{
  font-size: 12px!important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: black;
}

// #tournamentDetails{
//   padding-bottom: 20px;
// }

.button_placeholder{
  padding-left: 0px!important;
  padding-right: 0px!important;
  width: 100%;
}
.button_placeholder button{
  width: 100%;
  // font-size: $font-size-button;
  font-weight: bold;
}
