/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/prebuilt-themes/purple-green.css'; */

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;

}

.starter-template h1{
  text-align: center;
}

.starter-template label{
  font-weight: bold;
}

.teams_list{
  margin-top:10px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
