/*
 *  Flex Layout Specifics
*/
main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.4; }

  .round .game-spacer{
    flex-grow:1;
  }

/*
 *  General Styles
*/
#tournament-bracket{
  padding:10px;
  line-height:1.4em;
}

li.game{
  /* padding-left:2px; */
  min-width: 80px;
}

  li.game table tr td.winner{
    border-bottom-color: darkgreen;
  }

  li.game table tr td.loser{
    color: darkred;
  }

  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game table{
    border-spacing: 0;
    white-space: nowrap;
    border-collapse: collapse!important;
  }
  li.game table tr td:first-child{
    width: 80%!important;
  }
  li.game table tr td{
    background-color: #343a40;

    border-style: solid;
    border-width: thin;
    border-top-width: 0px!important;
    border-left-width: 0px!important;
    border-right-width: 0px!important;
    border-bottom-width: 4px!important;
    border-bottom-color: #ffc107;
    color:white;
    font-size: 70%;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
  }
/*
  li.game-top{ border-bottom:1px solid #aaa; } */

  li.game-spacer{
    border-right:5px solid #aaa;
    min-height:40px;

  }

    .spacer span{
      background-color: #343a40!important;
/*
      border: solid 1px black; */
      padding: 10px 0px 10px 0px;
      display: block;
      margin-right: 5px;
      color: white;
    }
   .spacer:first-child{
      text-align: center;
      font-weight: bold;
      font-size: 9px;
      visibility: visible;
      margin-bottom: 20px;
    }

    .spacer:not(:first-child){
      visibility: hidden;
    }

  /* li.game-bottom{
    border-top:1px solid #aaa;
  } */

  @media (max-width: 858px) {
    #tournament-bracket {
      font-size: 1rem;
    }
  }
  @media (max-width: 690px) {
    #tournament-bracket {
        font-size: 0.75rem;
    }
  }
