<h1>{{tournament?.name}}</h1>
<main id="tournament-bracket">
  <ul class="round round-{{round.number}}" *ngFor="let round of tournament?.rounds">

    <ng-template ngFor let-game_group [ngForOf]="round.bracket_rounds">
      <li class="spacer"><span [innerHTML]="getRoundName(round)"></span>&nbsp;</li>

      <ng-template [ngIf]="!tournament?.isRoundRobin">

        <ng-template ngFor let-game [ngForOf]="game_group.games">

          <li class="game game-top">
            <table>
              <tr>
                <td>
                  {{game.home.name}}
                </td>
                <td>
                  {{game.home_score}}
                </td>
              </tr>
            </table>
          </li>
          <li class="game game-spacer">&nbsp;</li>
          <li class="game game-bottom ">
            <table>
              <tr>
                <td>
                  {{game.away.name}}
                </td>
                <td>
                  {{game.away_score}}
                </td>
              </tr>
            </table>
          </li>

        </ng-template>

      </ng-template>

      <ng-template [ngIf]="tournament?.isRoundRobin">

        <li class="game game-top">
          <table>
            <tr>
              <td >
                {{game_group.games[0].home.name}}
              </td>
              <td>
                {{game_group.games[0].home_score}}
              </td>
              <td>
                {{game_group.games[1].away_score}}
              </td>
            </tr>
          </table>
        </li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">
          <table>
            <tr>
              <td>
                {{game_group.games[0].away.name}}
              </td>
              <td>
                {{game_group.games[0].away_score}}
              </td>
              <td>
                {{game_group.games[1].home_score}}
              </td>
            </tr>
          </table>
        </li>

      </ng-template>

    </ng-template>

    <li class="spacer">&nbsp;</li>
  </ul>
</main>
